::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 30px;
    background: var(--accent);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products-body {
    height: 93vh;
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
}

.productTools {
    width: 30%;
    position: relative;
}

.addAndUpdateProduct {
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

input {
    background-color: var(--text);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    color: var(--background);
}

#barcode input,
#productName input,
#buyPrice input,
#sellPrice input,
#stockAmount input,
#secondSellPrice input {
    width: 100%;
    padding: 5px 15px;
    margin-top: 8px;
}

#barcode,
#productName {
    width: 100%;
    margin: 10px 0;
}

#buyPrice,
#sellPrice,
#stockAmount,
#secondSellPrice {
    width: 45%;
    margin: 10px 0;
}

.addAndUpdateProduct span {
    color: var(--text);
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons button {
    width: 30%;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

#addProductButton {
    background-color: #f8c610;
}

#updateProductButton {
    background-color: #199363;
}

#deleteProductButton {
    background-color: #cb1827;
}

.addAndUpdateProduct button:disabled {
    opacity: 0.4;
    cursor: default;
    border: none;
}