.logs::-webkit-scrollbar {
    height: 0;
}

.logs {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: var(--text);
    border: 2px solid var(--background);
    border-bottom: 0;
    padding-top: 15px;
    display: flex;
    overflow-x: scroll;
}

#transactionPage {
    display: block;
    min-width: 100%;
    width: 100%;
    height: min-content;
    overflow: visible;
    visibility: visible;
}

#transactionPage.disable {
    visibility: hidden;
}

#transactionPage.disable * {
    visibility: hidden;
}

#transaction {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    margin-bottom: 10px;
}

#transaction-info {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    margin-right: 15px;
}

#transaction-productBarcode,
#transaction-product {
    width: 150px;
    color: var(--background);
}

#transaction-productAfter {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
    color: var(--background);
}

#transaction-product:hover>.product-infoBox {
    display: block;
}

#transaction-productAfter:hover>.product-infoBox {
    display: block;
}

#transaction-date {
    width: 170px;
    position: absolute;
    right: 0;
    color: var(--background);
}

.product-infoBox {
    margin-left: 10px;
    background-color: var(--background);
    color: var(--text);
    position: absolute;
    padding: 10px;
    display: none;
    z-index: 55;
    min-width: 400px;
}

.product-infoBox:hover {
    display: block;
}

.product-infoBox div {
    margin-bottom: 7px;
    border-bottom: 1px solid var(--background);
    height: 35px;
}

.product-infoBox div:hover {
    border-bottom: 1px dashed var(--text);
}

.product-infoBox div span {
    position: absolute;
    right: 10px;
    width: 250px;
    text-align: right;
}

#transaction:nth-last-child(2) div.product-infoBox,
#transaction:nth-last-child(1) div.product-infoBox {
    top: auto;
    bottom: 60%;
}

#transaction-productAfter div.product-infoBox {
    top: 100%;
    left: 65px;
}

#transaction-buyPrice {
    display: flex;
    align-items: center;
    color: var(--background);
}

#transaction-buyPrice span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 0 15px;
    background-color: var(--accent);
    border-radius: 50%;
    color: white;
}

.deletedProduct {
    border-bottom: 2px solid #cb1827;
}

.deletedProduct #transaction-info {
    background-color: #cb1827;
}

.addedStock {
    border-bottom: 2px solid var(--accent);
}

.addedStock #transaction-info {
    background-color: var(--accent);
}

.updatedProduct {
    border-bottom: 2px solid #199363;
}

.updatedProduct #transaction-info {
    background-color: #199363;
}

.newProduct {
    border-bottom: 2px solid #f8c610;
}

.newProduct #transaction-info {
    background-color: #f8c610;
}

#pageSelectors {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#selector {
    width: 10px;
    height: 10px;
    background-color: var(--background);
    border-radius: 50%;
    cursor: pointer;
    transition-delay: 0.5s;
}

#selector.active {
    width: 15px;
    height: 15px;
    border: 1px solid var(--accent);
}