.productTable-cover {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    padding-left: 15px;
}

#searchBox {
    height: 50px;
    width: 50%;
    margin-top: 10px;
    text-transform: uppercase;
}

#searchBox input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    border-radius: 5px;
    padding: 0 15px;
    border-bottom: 2px solid var(--accent);
    color: var(--text);
}

#productTable {
    text-align: left;
    width: 100%;
    table-layout: fixed;
}

#productTable tr {
    height: 50px;
    margin-top: 1%;
}

#productTable tr:hover {
    background-color: var(--accent-transparent);
}

#productTable tr th {
    font-size: 20px;
    color: var(--text);
    border: none;
}

#productTable tr td {
    position: relative;
}

#productList-barcode,
#productList-name,
#productList-buyPrice,
#productList-stockAmount {
    font-size: 17px;
    color: var(--text);
}

#productList-barcode,
#productList-name {
    cursor: pointer;
}

#productList-sellPrices {
    color: var(--accent);
    font-size: 17px;
}

#sellPrice1 {
    color: var(--text);
    margin-right: 10px;
}

#sellPrice2 {
    color: var(--accent);
    font-size: 15px;
}

#productList-stockAmount {
    position: relative;
}

#stockWarning {
    width: 15px;
    height: 15px;
    background-color: var(--low-stock);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: 15px;
}

#copiedBubble {
    background-color: var(--accent-transparent);
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 12px;
    margin-left: 10px;
    display: none;
    position: absolute;
    transition: 00.5s;
    color: var(--background);
}

#copiedBubble.active {
    display: inline-block;
}