#adjust-stock-container {
    position: absolute;
    bottom: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#adjust-stock-container-body {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 250px;
    height: 60px;
    border-radius: 50%;

}

#adjust-stock-input {
    font-size: 45px;
    width: 250px;
    border-radius: 0px;
    border: none;
    outline: none;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 0 50px;
    text-align: center;
    color: var(--background);
    background-color: var(--text);
}

#adjust-stock-container-body span {
    width: 60px;
    height: 60px;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    color: var(--background);
}

#decrease-value {
    left: 20px;
}

#increase-value {
    right: 20px;
    text-align: right;
}

#stock-preview {
    position: absolute;
    top: 0px;
    z-index: -7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#stock-preview div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-stock {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--text);
    font-size: 35px;
    color: var(--background);
}

#arrow {
    width: 35px;
    margin: 0 15px;
}

#to-stock {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--text);
    font-size: 30px;
    border: 1px solid var(--accent);
    color: var(--accent);
}

#adjust-stock-container-body input:hover~#stock-preview,
#adjust-stock-container-body span:hover~#stock-preview {
    top: -70px;
}

#adjust-stock-button {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: -40px;
    border: none;
    background-color: var(--accent);
    outline: none;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    color: var(--text);
}

#adjust-stock-button:hover {
    box-shadow: var(--text) 0px 2px 15px, var(--text) 0px 2px 5px;
}

#adjust-stock-button:disabled {
    height: 0;
    overflow: hidden;
}