::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 30px;
    background: var(--accent);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {}

.check-out {
    width: 100%;
    height: 35%;
    position: relative;
}

#totalItemCount {
    position: absolute;
    color: var(--text);
}

.totalPrice {
    font-size: 50px;
    text-align: right;
    display: flex;
    justify-content: right;
    color: var(--text);
}

.totalPrice div:nth-child(2) {
    margin-left: 15px;
    background-color: var(--accent);
    width: 350px;
}

.checkOutOptions {
    width: 100%;
    max-height: calc(100% - 50px);
    height: 20vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.checkOutOption {
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: var(--transparent-text);
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    position: relative;

}

.checkOutOption span {
    color: var(--background);
    position: absolute;
    bottom: -20%;
    font-size: 75px;
    opacity: 0.7;
}

.checkOutOption img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 100;
}

.check-table {
    width: 100%;
    height: 55%;
    overflow-y: scroll;
    border-bottom: 2px solid var(--accent);
    position: relative;
}

.table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
}

#scroll {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -50px;
    visibility: hidden;
}

.table tr td,
th {
    height: 60px;
    vertical-align: middle;
    color: var(--text);
    font-size: 20px;
}

#plusItemCount,
#minusItemCount {
    color: var(--accent);
}

#product-barcode {
    display: none;
}

.productNameAndBarcode {
    position: relative;
}

.productNameAndBarcode:hover #product-barcode {
    display: inline-block;
}

.productNameAndBarcode:hover #product-name {
    display: none;
}

#product-name {
    display: inline-block;
}

#product-name,
#product-barcode {
    color: var(--text);
}

.copyBubble {
    background-color: var(--accent-transparent);
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 12px;
    display: none;
    margin-left: 15px;
    position: absolute;
    transition: 00.5s;
    color: var(--background);
}

.copyBubbleActive {
    display: inline-block;
}