.customersBubble {
    background-color: red;
    height: 200%;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110%;
    overflow-y: auto;
    background-color: var(--transparent-text);
}

.customer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    margin: 10px 0;
}

#customerName {
    color: var(--background);
}

.customersBubble img {
    width: 30px;
    padding: 2px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 50%;
}

.customersBubble img.selectedCustomer {
    background-color: var(--background);
}

#payOnCredit {
    width: 80%;
    margin: 10px 10% 0;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
    border-radius: 15px;
    font-size: 25px;
    padding: 5px 0;
    letter-spacing: 3px;
    cursor: pointer;
}