<div class="customer-body">
    <div class="customersGrid">
        <div id="customersGrid-item" *ngFor="let customer of customerList">
            <div id="customerName">{{customer.customerName}}</div>
            <div id="customerCredit">Borç: {{customer.totalCredit | currency:' ':'code':'1.1-2'}}₺</div>
            <div id="pay">
                <input [(ngModel)]="inputValues[customer.id]" id="customerInput{{customer.id}}" class="customerInput"
                    type="number" placeholder="0.0">
                <button class="customerButton" (click)="pay(customer)">Öde</button>
            </div>
            <div title="Müşteri Sil" class="deleteCustomer" (click)="deleteCustomer(customer)">✖</div>
        </div>
        <div id="customersGrid-item">
            <div id="newCustomer">
                <input type="text" [(ngModel)]="newCustomerName">
                <div>İsim</div>
                <button [disabled]="newCustomerName.length <= 0" (click)="addNewCustomer()">Ekle</button>
            </div>
        </div>
    </div>
</div>